include README.md
include LICENSE
include CHANGELOG.md
include requirements.txt
recursive-include xyra_client *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .pytest_cache
recursive-exclude * *.egg-info
