fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
psycopg2
stripe
python-dotenv
azure-identity
azure-keyvault-secrets
alembic
jinja2